# dll
__pycache__/
*.py[cod]
*$py.class

#version
vcontrol/

# c ext
*.so

# build
build/
hako

# macOS
.DS_Store
.AppleDouble
.LSOverride

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# linux
*~

# vm
env/
venv/
ENV/
env.bak/
venv.bak/

# editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.swp


# logs
*.log

# macOS quarantine
**/._*
